@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #333333;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #E1F4F3;
    --cor-hover: #706C61;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;

}


* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

.cabecalho {
    padding: 2% 0% 0% 22%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 36px;

}

.titulo-destaque {
    color: var(--cor-terciaria);

}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 24px;

}

.apresentacao__links {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color:var(--cor-hover);
    padding: 4%;
} 

.apresentacao__links__icone {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    
}

.apresentacao__foto {
    width: 467.705px;
    height: 532px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 3px solid var(--cor-terciaria);
}

.rodape {
    background-color:var(--cor-terciaria);
    text-align: center;
    padding: 28px;
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-size: 28px;   
}